[Desktop Entry]
Encoding=UTF-8
Name=Link to 61A Lecture Videos
Type=Link
URL=https://www.youtube.com/watch?v=tdgcO2Lrf0U&list=PL6BsET-8jgYXJIDSKjxocD8CXQOfkNDM0
Icon=text-html
